{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>
            <p class="text-center font-weight-bold text-secondary">
                About Us
            </p>
        </h1>
        <h2>
            <p class="text-center font-weight-bolder text-primary">
                India’s leading digital electronic platform
            </p>
            <p class="text-center font-weight-bold text-danger">
                Who we are?
            </p>
            <p class="text-center text-dark">
                <span style="color:blue">SmartHome.com</span>, is one of India’s most trusted electronic retailer, with over 10 years.Offering guests the best products in quality and service has been the primary principle at <span style="color:blue">SmartHome.com</span>.We help you to buy mobile phones effortlessly all over in India. You can buy Smart phones from any corner of the country - with just a few clicks of the mouse.
            </p>
            <p class="text-center font-weight-bold text-danger">
                Our Story
            </p>
            <p class="text-center text-dark">
                A marvellous journey that began with a small Electronic Showroom at Bandra in 2011, <span style="color:blue">SmartHome.com</span> has since evolved and has become one of India’s biggest retail chains.Founded by
                <span style="color:orange"><b><abbr title="">Mr.Altaf Ansari</abbr></b></span>,with providing services in just 45 pin codes in Mumbai and later expanded its operations in all over the country.
            </p>
            <p class="text-center font-weight-bold text-danger">
                What we offer?
            </p>
            <p class="text-center text-dark">
                We make a wide range of branded Smart phones and other accessories conveniently available all across India. Even second and third tier cities and rural villages can now have access to the latest technologies.
We get Smart phones and other accessories delivered at home in 1000+ cities across India from trusted and verified brands.
            </p>
        </h2>
    </div>
{% endblock %}