{% extends 'base.html' %}
{% block content %}
   <div class="container">
        <h1>
            <p class="text-center font-weight-bold text-info">
                Here we are introducing you some new technologies which will very beneficial for human beings in future.
            </p>
        </h1>
        <h2>
            <p class="text-center text-success">
                You should aware to these technologies.
            </p>
           <p class="text-center text-secondary">
                Top New Technology Trends for 2021
           </p>
        </h2>
        <h3>
           <p class="text-center text-danger">
              1. Artificial Intelligence (AI) and Machine Learning
Artificial Intelligence, or AI, has already received a lot of buzz in the past decade, but it continues to be one of the new technology trends because of its notable effects on how we live, work and play are only in the early stages. AI is already known for its superiority in image and speech recognition, navigation apps, smartphone personal assistants, ride-sharing apps and so much more.

Other than that AI will be used further to analyze interactions to determine underlying connections and insights, to help predict demand for services like hospitals enabling authorities to make better decisions about resource utilization, and to detect the changing patterns of customer behaviour by analyzing data in near real-time, driving revenues and enhancing personalized experiences
           </p>
           <p class="text-center text-primary">
              2. Robotic Process Automation (RPA)
Like AI and Machine Learning, Robotic Process Automation, or RPA, is another technology that is automating jobs. RPA is the use of software to automate business processes such as interpreting applications, processing transactions, dealing with data, and even replying to emails. RPA automates repetitive tasks that people used to do.
           </p>
           <p class="text-center text-secondary">
              4. Quantum Computing
Next remarkable technology trend is quantum computing, which is a form of computing that takes advantage of quantum phenomena like superposition and quantum entanglement. This amazing technology trend is also involved in preventing the spread of the coronavirus, and to develop potential vaccines, thanks to its ability to easily query, monitor, analyze and act on data, regardless of the source. Another field where quantum computing is finding applications is banking and finance, to manage credit risk, for high frequency trading and fraud detection.
           </p>
           <p>
               5. Virtual Reality and Augmented Reality
The next exceptional technology trend - Virtual Reality (VR) and Augmented Reality (AR), and Extended Reality (ER). VR immerses the user in an environment while AR enhances their environment. Although this technology trend has primarily been used for gaming thus far, it has also been used for training, as with VirtualShip, a simulation software used to train U.S. Navy, Army and Coast Guard ship captains.
           </p>
        </h3>
   </div>
{% endblock %}